:root {
  --default-font: "Poppins", sans-serif;
  --footer-font: monospace;
  --branding-color: #6c63ff;
  --branding-color-hover: #564feb;
  --background-color: ##fffdfb;
  --default-font-color: #272142;
  --box-shadow: 0 5px 80px rgba(65, 50, 100, 0.08);
}
.App {
  font-family: var(--default-font);
  max-width: 700px;
  text-align: center;
  margin: 5% auto;
}
.App h1,
h2,
h3,
h4,
p {
  color: var(--default-font-color);
}
.App footer {
  font-size: 11px;
  text-align: center;
  font-family: var(--footer-font);
  opacity: 0.6;
  display: block;
}
.App a {
  text-decoration: none;
}
.App li {
  list-style: none;
}
.App label {
  display: block;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 29px;
}
.App div .row {
  justify-content: space-evenly;
}
.App .logo {
  max-width: 150px;
  display: block;
  margin: 30px auto;
}
.App .btn {
  background-color: var(--branding-color);
  border-color: var(--branding-color);
}
.App .btn:hover {
  background-color: var(--branding-color-hover);
  border-color: var(--branding-color-hover);
  transition: all 0.2s ease-in-out;
}
.TodoForm {
  margin-bottom: 25px;
}
.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 10px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}
.Todo label {
  margin: 0;
  color: var(--branding-color);
}
.Todo .fa-trash,
.fa-pen {
  margin-left: 15px;
}
.Todo .fa-trash:hover,
.fa-pen:hover {
  cursor: pointer;
}
.incompleted,
.completed {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  opacity: 0.7;
}
@media (max-width: 600px) {
  button {
    width: 100%;
  }
}
