:root {
  --default-font: "Poppins", sans-serif;
  --footer-font: monospace;
  --branding-color: #6c63ff;
  --branding-color-hover: #564feb;
  --background-color: ##fffdfb;
  --box-shadow: 0 20px 60px rgba(65, 50, 100, 0.08);
}
.App {
  font-family: var(--default-font);
  max-width: 700px;
  text-align: center;
  margin: 5% auto;
}
.App footer {
  font-size: 11px;
  text-align: center;
  font-family: var(--footer-font);
  opacity: 0.6;
  display: block;
}
.App a {
  text-decoration: none;
}
.App li {
  list-style: none;
}
.App label {
  display: block;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 29px;
}
.App div .row {
  justify-content: space-evenly;
}
.App .logo {
  max-width: 150px;
  display: block;
  margin: 30px auto;
}
.App .btn {
  background-color: var(--branding-color);
  border-color: var(--branding-color);
}
.App .btn:hover {
  background-color: var(--branding-color-hover);
  border-color: var(--branding-color-hover);
  transition: all ease-in-out 200ms;
}

.Todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
  margin-bottom: 10px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}
.Todo .fa-trash {
  margin-left: 15px;
}
@media (max-width: 600px) {
  button {
    width: 100%;
  }
}
